<h1><%= @product.name %></h1>

<div style="margin: 20px 0;">
  <% if @product.image.attached? %>
    <%= image_tag @product.image, size: "300x300" %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>

<p><strong>Price:</strong> $<%= @product.price %></p>
<p><strong>Stock Quantity:</strong> <%= @product.stock_quantity %></p>
<p><strong>Description:</strong></p>
<p><%= @product.description %></p>

<%# Checkout Form %>
<%= form_with url: add_cart_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.number_field :quantity, value: 1, min: 1, style: "width: 50px; margin: 10px;" %>
  <%= form.submit "Add to Cart", class: "btn btn-primary" %>
  <%# <%= link_to "Buy Now", "#", class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-500 hover:bg-yellow-400 w-40"%>
<% end %>

<%# Buy now form %>
<%# <%= form_with url: buy_now_path, method: :post, local: true do |form|
  <%= form.hidden_field :product_id, value: @product.id
  <%= form.hidden_field :quantity, value: 1
  <%= form.submit "Buy Now", class: "btn btn-success"
<% end %>

<div>
  <%= link_to 'Back to Products', root_path, class: 'btn btn-primary'%>
</div>